PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/chatify-users
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=replace-with-a-long-random-value
Rabbitmq_Host=127.0.0.1
Rabbitmq_Username=guest
Rabbitmq_Password=guest
